.App {
  text-align: center;
}

day-table {
  display: flex;
  justify-content: space between;
}

day-card {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

ul {
  list-style: none;
}
